html,
body {
  padding: 0;
  margin: 0;
  font-family: Saira, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  background: linear-gradient(16.87deg, #111629 66.84%, #1e2644 100%);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: 1000px;
  padding: 10px 20px;
}

section p a {
  color: #0969da;
}

h1 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 140%;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  opacity: 0.6;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  section h3 {
    font-size: 1.5rem;
  }
}
